<nav class="w-64 bg-gray-100 h-full p-4">
  <ul class="space-y-2">
    <li (click)="this.filterService.clearPage()">
      <a routerLink="profile" routerLinkActive="font-bold text-blue-600">Profile</a>
    </li>
    <li (click)="this.filterService.clearPage()">
      <a routerLink="change-password" routerLinkActive="font-bold text-blue-600">Change Password</a>
    </li>
    <li *ngIf="isAdmin" (click)="this.filterService.clearPage()">
      <a routerLink="users" routerLinkActive="font-bold text-blue-600">Users</a>
    </li>
    <li (click)="this.filterService.clearPage()">
      <a routerLink="restaurants" routerLinkActive="font-bold text-blue-600">My Restaurants</a>
    </li>
  </ul>
</nav>